#master-container {
width: 100%;
height: 980px;
}

#card {
    position: absolute;
    align-content: center; 
    top: 10%;
    left: 10%;
    right: 10%;
    padding-top: 15px; 
    padding-bottom: 50px; 
    /* border: 1px solid: darkslategray;  */
}

.card-container {
    background-color: white; 
    padding: 10px;
    padding-bottom: 5px; 
    width: 100%;  
}

#chat {
    /* color:red; */
    color:orange; 
    position: absolute;
    top: 6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 30px; 
}

 #card .top-photo .dream {
    /* color:blue;  */
    color:white; 
    position: absolute;
    top: 4.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 2em; 
    text-align: center; 
 }
     

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    /* border-right: 2px solid rgba(255,255,255,.75); */
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}


#card .btn {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;  
    color:white; 
    font-size: 16px;
    padding: 12px 24px;
    border-color: white; 
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold; 
}

#card .btn:hover {
    color:orange;  
    border-color: white; 
    background-color:transparent; 
}


#subject {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
    width: 100%;
    padding-bottom: 5px; 
    background-color:white; 
    color: darkslategray; 
    /* border: 1px solid black;  */
    /* background-color:#880d31; */
    /* background-color: transparent;  */
    
}


#subject-port {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
    width: 100%;
    padding-bottom: 5px; 
    color: darkslategray;  
    background-color: transparent; 
    /* background-color: white; */
    /* background-color: red;  */
    position: absolute;
    top: -20%; 
    /* align-content: center;  */
    left: 0%;
 
}

.row-c {
    list-style: none;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: left; 
    column-count: 4; 
    padding: 11px; 
    padding-left: 50px; 
    background-color: white; 
    color:orange;  
    /* float:right;  */
}

.row-d {
    list-style: none;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: left;  
    column-count: 4; 
    padding-left: 50px; 
    background-color: white; 
    color:orange;  
}

.row-e {
    list-style: none;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: left; 
    column-count: 4; 
    padding: 5px; 
    padding-left: 50px; 
    padding-bottom: 30px; 
    background-color: white; 
    color:orange;  
}

.skill-type:hover {
    color: white; 
    color: darkslategrey; 
}

.column-about {
    font-size: 16px; 
    /* font-weight: bold; */
    padding-top: 200px; 
    padding-bottom: 3px;
    text-align: left; 
    margin: 25px;
}

.container-fluid {
    /* background-color: maroon;  */
    position: absolute;
    top: 50%;
    align-content: center; 
}


.col-md-3 {
    /* background-color:yellow;  */
    align-content: center;  
    padding: 50px; 
    /* text-align: justify;   */
    /* text-justify: inter-word;
    /* text-align-last: justify; */
    /* text-align: right;  */
    color: white; 
    font-weight: bold; 
}

.description {
/* background-color: red;  */
color: #880d31;
/* text-align: right;  */
/* text-align: left;   */
/* text-align- justify;
text-align: justify;  
text-justify: inter-word; */
text-justify: distribute;
text-align: justify;  
text-align: left; 
font-weight: bold; 
}

.btn-sample {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;  
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border-color: black; 
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    text-align: right; 

}

.tiffany {
    position: absolute;
    background-color: white;  
    top:90%;
    right:42.5%;
    position: relative;
}

.sampleOne {
    color: orange; 
    position: absolute;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.footer {
    background-color:white; 
    background-color: red; 
    background-color: darkslategray;
    background-color: orange; 
    background-color: maroon; 
    background-color:#880d31;
    color: white; 
    text-align: center;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    header h1 {
        font-size: 30px;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    header h1 {
        font-size: 36px;
    }
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
    