#master-container {
width: 100%;
height: 980px;
}

#card {
    position: absolute;
    align-content: center; 
    top: 10%;
    left: 10%;
    right: 10%;
}

.card-container {
    background-color: white; 
    padding: 10px;
    padding-bottom: 5px; 
    width: 100%;  
}

#chat {
    /* color:red; */
    color: white; 
    position: absolute;
    top: 6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 30px; 
    /* text-align: center; 
    position: relative;  */
}

 #card .top-photo .dream {
    /* color:blue;  */
    color: orange; 
    position: absolute;
    top: 4.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; 
    top: 13.5%; */
    /* position: absolute;   */

 }
     

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    /* border-right: 2px solid rgba(255,255,255,.75); */
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}


#card .btn {
    position: absolute;
    top: 9.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;  
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border-color: black; 
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold; 
}

#card .btn:hover {
    color:orange;  
    border-color: black; 
    background-color:transparent; 
}


#subject {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
    width: 100%;
    padding-bottom: 5px; 
    background-color: white;
    color: darkslategray;    
}

.row-c {
    list-style: none;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
    column-count: 4; 
    padding: 11px; 
    background-color: white; 
    color:orange;  
}

.row-d {
    list-style: none;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
    column-count: 4; 
    padding: 11px; 
    background-color: white; 
    color:orange;  
}

.row-e {
    list-style: none;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
    column-count: 4; 
    padding: 5px; 
    padding-bottom: 30px; 
    background-color: white; 
    color:orange;  
}

.skill-type:hover {
    color: white; 
    color: darkslategrey; 
}

.column-about {
    font-size: 20px; 
    padding-top: 200px; 
    padding-bottom: 85px;
    text-align: left; 
    margin: 25px;
}

/* #card .btnH {
    position: absolute;
    top: 10%;
    left: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: red; 
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold; 
} */

/* #card .btnH:hover {
    color: white; 
    background-color:darkslategray; 
} */

.tiffany {
    position: absolute;
    background-color: white;  
    top:90%;
    right:42.5%;
    position: relative;
}

.sampleOne {
    color: orange; 
    position: absolute;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}