* {
    box-sizing: border-box;
}

body { 
    background-image: url("../images/wheat.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-color:green; 
}

#dreams {
/* background-color: red;  */
color: white; 
/* font-size: 1.25rem;  */
}

#chat {
/* background-color: pink;  */
color:orange; 
font-size: 1.25rem; 
}

.btn-hire {
color: white; 
border: solid black 2px;  
}

.btn-hire:hover {
    color: orange; 
    background-color: white; 
    border: solid black 2px;  
    }


#skills-card .skill {
background-color: white; 
color:orange; 
}

#skills-card .skill:hover {
    color: darkslategrey; 
}


.project-header {
font-size: 10px; 
}

.projects {
/* background-color: red;  */
text-align: justify; 
text-align: left;
padding: 10px; 
font-size: 5px;
align-content: center;  
color: #650118;
}

.btn-sample {
    color: white; 
}

.tiffany {
    position: absolute;
    background-color: white;  
    top:90%;
    right:42.5%;
    position: relative;
}

.about-info {
/* background-color: red;  */
font-size: 15px; 
/* padding-left: 20px;  */
align-content: center; 
}

.footer {
    color: white; 
    text-align: center;
    background-color:#650118;
}




/*RESPONSIVE CSS BELOW!!!!*/
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    #dreams {
      font-size: 10px;
    }
    #chat {
        font-size: 15px;
        color: white; 
       }
.projects {
        font-size: 10px;
      } 
    #projects-header {
        font-size: 10px;
      } 
  }
  


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #dreams {
        font-size: 15px;
      }
      #chat {
          font-size: 20px;
        }   
    .projects {
            font-size: 10px;
          } 
    #projects-header {
            font-size: 15px;
          } 
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #dreams {
        font-size: 30px;
      }
    #chat {
          font-size: 40px;
          color:orange; 
        } 
    #skills-card {
            font-size: 30px;
          }  
    .projects {
            font-size: 20px;
          } 
    #projects-header {
            font-size: 100px;
          } 
}
    

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #dreams {
        font-size: 30px;
      }
    #chat {
          font-size: 40px;
          color:orange; 
        } 
    #skills-card {
            font-size: 30px;
          } 
    .projects {
            font-size: 20px;
          } 
    #projects-header {
            font-size: 100px;
          } 
}




